@font-face {
    font-family: 'DotsAllForNow';
    src: url('../fonts/DotsAllForNow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'DotsAllForNow';
    text-align: center;
    margin: 20px;
  }

h1 {
    font-family: 'DotsAllForNow';
    text-align: center;
    margin: 20px;
    font-size: 40px;
  }
  
  form {
    margin: 20px auto;
  }
  
  
  img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }

  
  .container {
    display: flex;
    height: 100vh; 
  }
  
  .left-column {
    flex: 1; /* Occupe 50% de l'espace */
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .right-column {
    flex: 1; /* Occupe 50% de l'espace */
    padding: 20px;
  }
  
  #imagePreview {
    height: 90%; 
    overflow: auto;
    padding: 10px;
  }
  
  #previewImage {
    max-width: 100%;
    max-height: 100%; 
    display: none; 
  }
  
  .file_input_div {
    text-align: center;
    margin-top: 20px;
  }
  
  .file_input_hidden {
    display: none;
    margin: 0 auto;
  }
  
.custom-button, .download-button {
    font-family: 'DotsAllForNow';
    display: inline-block;
    background-color: #fc65c0;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.custom-button:hover, .download-button:hover {
    background-color: #0056b3;
  }

.download-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  select {
    padding: 5px 10px;
    font-size: 16px;
  }

